@import '@/styles/fonts.scss';
@import '@/styles/animation.scss';

.process-page {
  background-color: #faf7f2;

  .index-first-section {
    height: calc(100vh - 70px);
    
    @media (min-width: 768px) {
      height: calc(100vh - 100px);
    }
  }

  .pink-circle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #e7d6c8;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      width: 57px;
      height: 57px;
      margin-bottom: 25px;
    }
  }

  .drivider {
    width: 200px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #000;

    @media (min-width: 768px) {
      width: 485px;
    }
  }
}
