.title-text {
  color: var(--Hark, #271f18);

  /* 英文/Heading 1 (H1) */
  font-family: Cormorant;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title-desc {
  color: var(--Hark, #271f18);

  /* 英文/Label */
  font-family: 'Source Serif 4-Italic';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
