@import '@/styles/fonts.scss';
@import '@/styles/animation.scss';

.partner-ivf-clinics-page {
  background-color: #faf7f2;

  .index-first-section {
    height: calc(100vh - 100px);
  }

  .linear-gradient {
    background: linear-gradient(180deg, #bfc9bf 48.5%, rgba(255, 255, 255, 0) 100%);
  }

  .faq-header {
    border-radius: 10px;
    background: rgba(191, 201, 191, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 25px;
    width: 100%;
    text-align: left;
    font-family: 'Source Serif 4-Regular';
    font-size: 20px;
    font-weight: 400;
    color: #271f18;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background 0.2s;
  }

  .faq-header.open {
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);
    font-weight: 600;
  }

  .faq-answer {
    overflow: hidden;
    background: #f5f5f5;
    color: #271f18;
    font-family: 'Source Serif 4-Regular';
    font-size: 20px;
    font-weight: 400;
    transition:
      max-height 0.3s,
      opacity 0.3s,
      margin-top 0.3s,
      padding-left 0.3s;
    padding-left: 35px;
    margin-top: 30px;
    opacity: 1;
    max-height: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .faq-answer.closed {
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
}
